<!--<h1>Danh sách sản phẩm</h1>-->
<!--<a [routerLink]="['/product/create']">Tạo mới sản phẩm</a>-->
<!--<table>-->
<!--  <tr>-->
<!--    <td>STT</td>-->
<!--    <td>Tên</td>-->
<!--    <td>Giá</td>-->
<!--    <td>Image</td>-->
<!--    <td>Mô tả</td>-->
<!--    <td>Danh muc</td>-->
<!--  </tr>-->
<!--  <tr *ngFor="let product of products; index as i">-->
<!--    <td>{{i + 1}}</td>-->
<!--    <td>{{product.name}}</td>-->
<!--    <td>{{product.price}}</td>-->
<!--    <td><img src="{{product.image}}" alt="iphone" width="50" height="50"></td>-->
<!--    <td>{{product.description}}</td>-->
<!--    <th>{{product.category.name}}</th>-->
<!--    <td><a [routerLink]="['/product/edit',product.id]">Edit</a></td>-->
<!--    <td><a [routerLink]="['/product/delete',product.id]">Delete</a></td>-->
<!--  </tr>-->
<!--</table>-->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Danh sách sản phẩm</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink="/product/list">Home</a></li>
          <li class="breadcrumb-item active">Danh sách sản phẩm</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Danh sách sản phẩm</h3>
            <div class="card-tools">
              <button class="btn btn-primary" routerLink="/product/create">Tạo mới</button>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="product-list" class="table table-bordered table-hover">
              <thead>
              <tr>
                <th>#</th>
                <th>Tên sản phẩm</th>
                <th>Giá</th>
                <th>Ảnh sản phẩm</th>
                <th>Mô tả sản phẩm</th>
                <th>thư mục</th>
                <th></th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <ng-container>
              <tr *ngFor="let product of products; index as i">
                <td>{{i+1}}</td>
                <td><a [routerLink]="['/product/detail',product.id]">{{product.name}}</a></td>
                <td>{{product.price}}</td>
                <td><img src="http://localhost:8080/image/{{product.image}}" alt="anh" height="100"></td>
                <td>{{product.description}}</td>
                <td>{{product.category?.name}}</td>
                <td class="text-center"><a class="btn btn-warning" [routerLink]="['/product/edit',product.id]"><i class="fa fa-edit"></i></a></td>
                <td class="text-center"><a class="btn btn-danger" [routerLink]="['/product/delete',product.id]"><i class="fa fa-trash"></i></a></td>
              </tr>
              </ng-container>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
