<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Xóa sản phẩm</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink="/product/list">Trang chủ</a></li>
          <li class="breadcrumb-item active">Xóa sản phẩm</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <!-- left column -->
      <div class="col-12">
        <!-- general form elements -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Xóa tác phẩm</h3>
          </div>
          <!-- /.card-header -->
          <!-- form start -->
          <form>
            <div class="card-body">
              <div class="form-group">
                <label for="price">Mã sản phẩm: </label>
                <input type="text" class="form-control" id="id" value="{{product.id}}" disabled>
              </div>
              <div class="form-group">
                <label for="name">Tên sản phẩm: </label>
                <input type="text" class="form-control" id="name" value="{{product.name}}" disabled>
              </div>
              <div class="form-group">
                <label for="price">Giá sản phẩm: </label>
                <input type="text" class="form-control" id="price" value="{{product.price}}" disabled>
              </div>
              <div class="form-group">
                <label>Ảnh sản phẩm:</label>
                <img src="http://localhost:8080/image/{{product.image}}" alt="anh" height="100">
              </div>
              <div class="form-group">
                <label for="description">Mô tả sản phẩm: </label>
                <input type="text" class="form-control" id="description" value="{{product.description}}" disabled>
              </div>
              <div class="form-group">
                <label for="category">Danh mục: </label>
                <input type="text" class="form-control" id="category" value="{{product.category.name}}" disabled>
              </div>
            </div>
            <!-- /.card-body -->

            <div class="card-footer">
              <button type="button" class="btn btn-primary">Quay lại</button>
            </div>
          </form>
        </div>
        <!-- /.card -->
      </div>
      <!--/.col (left) -->
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
