<!--<h1>Cập nhật thông tin sản phẩm</h1>-->
<!--<form [formGroup]="productForm" (ngSubmit)="updateProduct()">-->
<!--  <table>-->
<!--    <tr>-->
<!--      <td>Mã sản phẩm:</td>-->
<!--      <td><input type="number" formControlName="id" disabled></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>Tên sản phẩm:</td>-->
<!--      <td><input type="text" formControlName="name"></td>-->
<!--      <div style="color: red" *ngIf="nameEdit.errors?.required">name is required</div>-->
<!--      <div style="color: red" *ngIf="nameEdit.errors?.minlength">min 6 character</div>-->
<!--      <div style="color: red" *ngIf="nameEdit.errors?.maxlength">max 12 character</div>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>Giá sản phẩm</td>-->
<!--      <td><input type="number" formControlName="price" required></td>-->
<!--      <p style="color: red" [hidden]="priceEdit.valid || priceEdit.touched"> Price is required</p>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>Anh về sản phẩm</td>-->
<!--      <td><input type="text" formControlName="image"></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>Mô tả về sản phẩm</td>-->
<!--      <td><input type="text" formControlName="description" required></td>-->
<!--      <p style="color: red" [hidden]="descriptionEdit.valid || descriptionEdit.touched"> description is required</p>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>Danh mục sản phẩm</td>-->
<!--      <td>-->
<!--        <select id="category" formControlName="category">-->
<!--          <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>-->
<!--        </select>-->
<!--      </td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td></td>-->
<!--      <td>-->
<!--        <button>Cập nhật</button>-->
<!--      </td>-->
<!--    </tr>-->
<!--  </table>-->
<!--</form>-->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Cập nhập thông tin sản phẩm</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink="/product/list">Trang chủ</a></li>
          <li class="breadcrumb-item active">Sửa sản phẩm</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <!-- left column -->
      <div class="col-12">
        <!-- general form elements -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Thêm mới sản phẩm</h3>
          </div>
          <!-- /.card-header -->
          <!-- form start -->
          <form [formGroup]="productForm" (ngSubmit)="updateProduct()">
            <div class="card-body">
              <div class="form-group">
                <label for="price">Id</label>
                <input type="text" class="form-control" id="id" formControlName="id" disabled>
              </div>
              <div class="form-group">
                <label for="name">Tên sản phẩm</label>
                <input type="text" class="form-control" id="name" formControlName="name" [ngModel]="product.name">
                <div style="color: red" *ngIf="nameEdit.errors?.required">name is required</div>
                <div style="color: red" *ngIf="nameEdit.errors?.minlength">min 6 character</div>
                <div style="color: red" *ngIf="nameEdit.errors?.maxlength">max 12 character</div>
              </div>
              <div class="form-group">
                <label for="price">Giá sản phẩm</label>
                <input type="text" class="form-control" id="price" formControlName="price" [ngModel]="product.price">
              </div>
              <div class="form-group">
                <label for="image">Ảnh sản phẩm</label>
                <div class="m-3">
                  <img src="http://localhost:8080/image/{{product.image}}" alt="x" width="100">
                </div>
                <input type="file" class="form-control" id="image" formControlName="image"
                       (change)="onFileSelect($event)">
              </div>
              <div class="form-group">
                <label for="description">Mô tả sản phẩm</label>
                <input type="text" class="form-control" id="description" formControlName="description" [ngModel]="product.description">
              </div>
              <div class="form-group">
                <label for="category">Danh mục</label>
                <select id="category" formControlName="category" class="form-control" [ngModel]="product.category?.id">
                  <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
                </select>
              </div>
            </div>
            <!-- /.card-body -->

            <div class="card-footer">
              <button type="submit" class="btn btn-primary">Cập nhập</button>
            </div>
          </form>
        </div>
        <!-- /.card -->
      </div>
      <!--/.col (left) -->
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
